@import '../functions/base-declaration-property';
@import '../functions/base-declaration-selector';
@import '../utilities/escape-css';
@import '../utilities/join';

@mixin base-declaration($utility-obj, $responsive-screen-alias: null) {
  $property  : base-declaration-property($utility-obj);
  $selector  : base-declaration-selector($utility-obj);
  $value     : map-get($utility-obj, 'declaration-value');

  @if $responsive-screen-alias {
    $screen-namespace : escape-css('#{$responsive-screen-alias}:');
    $selector         : join(($screen-namespace, $selector));
  }

  .#{$selector} {
    #{$property}: #{$value}
  }
}
