@import '../functions/base-declaration-property';
@import '../functions/base-declaration-selector';
@import '../utilities/join';
@import '../utilities/escape-css';

@mixin corner-variants($utility-obj, $corners, $responsive-screen-alias: null) {
  $value : map-get($utility-obj, 'declaration-value');

  @each $corner-alias, $corner-values in $corners {
    $selector : base-declaration-selector($utility-obj, $corner-alias);

    @if $responsive-screen-alias {
      $screen-namespace : escape-css('#{$responsive-screen-alias}:');
      $selector         : join(($screen-namespace, $selector));
    }

    .#{$selector} {
      @each $corner-value in $corner-values {
        $property : base-declaration-property($utility-obj, $corner-value);

        #{$property}: #{$value}
      }
    }
  }
}
