@import '../functions/base-declaration-property';
@import '../functions/base-declaration-selector';
@import '../utilities/join';
@import '../utilities/escape-css';

@mixin focus-variant($utility-obj, $responsive-screen-alias: null) {
  $property  : base-declaration-property($utility-obj);
  $selector  : base-declaration-selector($utility-obj);
  $value     : map-get($utility-obj, 'declaration-value');

  $selector  : join((escape-css('focus:#{$selector}'), ':focus'));

  @if $responsive-screen-alias {
    $screen-namespace : escape-css('#{$responsive-screen-alias}:');
    $selector         : join(($screen-namespace, $selector));
  }

  .#{$selector} {
    #{$property}: #{$value}
  }
}
